@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
}


/* Home Page Styles */

body {
    font-family: 'Karla', sans-serif;
    background-color: #fff;
    animation: fadeOnLoad ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

h1,
h2,
h3,
ul,
li {
    color: #383838;
}

p {
    font-weight: 500;
}

@keyframes fadeOnLoad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav {
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
}

#automotion-nav,
#journey-nav {
    background-color: #f3f5f7;
}

#sd-nav {
    background-color: #FF5252;
}

nav ul {
    width: 75vw;
    margin-left: 11vw;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logo img {
    position: absolute;
    margin-top: 5px;
    width: 3.5vw;
    margin-left: 3.7%;
}

nav ul li {
    list-style: none;
    font-size: 2.36vh;
    color: #545454;
    margin: 10px;
}

#nav-tag {
    width: 20vw;
    font-size: 1vw;
    margin-right: 34vw;
}

#nav-tag span {
    font-size: 6vh;
    font-weight: bold;
    letter-spacing: -1px;
    color: #383838;
    margin-right: 1.5vw;
}

#nav-tag img {
    width: 5vw;
}

.nav-margin-top {
    margin-top: 22px;
}

nav li a {
    font-size: 2.36vh;
    font-weight: 700;
    color: #c1c3c9;
    margin-left: 1.8vw;
    transition: 0.4s;
}

nav li a:hover {
    color: #545454;
    text-decoration: underline;
    transition: 0.4s;
}

a {
    text-decoration: none;
    /* color: #444; */
    color: #000;
}

#sd-nav li a:hover {
    color: #fff;
}

#current-link {
    color: #545454;
    text-decoration: underline;
}

.home-header {
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.home-header h1 {
    text-align: center;
    font-size: 5vh;
    font-weight: 700;
    color: #383838;
    letter-spacing: -0.5px;
}

.home-header p {
    width: 35vw;
    font-size: 3.47vh;
    font-weight: 400;
    color: #c1c3c9;
    text-align: center;
    margin-left: 32.3vw;
    margin-top: 3vh;
    margin-bottom: 25vh;
    line-height: 5vh;
}

.header-highlight {
    color: #6180fe;
}

.home-header span img {
    width: 5vh;
}

.row {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.row:nth-child(1) {
    margin-left: 3%;
}

.link-fig {
    margin: 1%;
    margin-left: 10vw;
    width: 37vw;
    height: auto;
    margin-bottom: 3%;
}

.margin-alt {
    margin-left: 0.6vw;
}

.link-fig-margin {
    margin-left: 4%;
}

.link-fig2 {
    margin: 1%;
    margin-left: 13vw;
    width: 37vw;
    height: auto;
    margin-bottom: 1%;
}

.zoom {
    width: 35vw;
    height: auto;
    overflow: hidden;
    margin: 0;
}

.zoom img {
    width: 100%;
    border-radius: 10px;
}

.wrapper {
    position: relative;
}

.wrapper img {
    transition: 0.1s;
}

.boost-overlay {
    background: #3FD0A4;
}

.ccf-overlay {
    background: #f1f1f1;
}

.ar-overlay {
    background: #FFCA0E;
}

.sd-overlay {
    background: #f4f4f4;
}

.boost-overlay h1,
.boost-overlay p {
    color: #fff;
}

.ccf-overlay h1,
.ccf-overlay p,
.sd-overlay h1,
.sd-overlay p,
.ar-overlay h1,
.ar-overlay p {
    color: #333;
}

.boost-overlay,
.ccf-overlay,
.ar-overlay,
.sd-overlay {
    width: 94.4%;
    height: 98.7%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    border-radius: 10px;
    transition: 0.2s;
}

.content {
    margin-top: 17vh;
}

.boost-overlay h1,
.boost-overlay p,
.ccf-overlay h1,
.ccf-overlay p,
.ar-overlay h1,
.ar-overlay p,
.sd-overlay h1,
.sd-overlay p {
    text-align: center;
    font-size: 3.75vh;
    font-weight: 700;
    margin-bottom: 12px;
}

.boost-overlay p,
.ccf-overlay p,
.ar-overlay p,
.sd-overlay p {
    font-size: 2.91vh;
    font-weight: 500;
}

.boost-overlay:hover,
.ccf-overlay:hover,
.ar-overlay:hover,
.sd-overlay:hover {
    opacity: 0.95;
    transition: 0.2s;
}

main {
    margin-top: 20px;
    padding-bottom: 30px;
}


/* --------footer-------- */

footer {
    height: 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 1.5vw;
    margin-bottom: 40px;
}

.social-text {
    margin-bottom: 30px;
}

.social-text a {
    margin-right: 25px;
    text-align: center;
    color: #383838;
    transition: 0.3s;
}

.social-text a:hover {
    color: #d4d4d4;
    transition: 0.3s;
}

#linkedin {
    margin-left: 25px;
}

.copyright {
    font-size: 12px;
}


/* --------Project Header Styles-------- */

.new-header {
    width: 98.9vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 3vh;
}

.new-header img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/* --------Project Main Styles-------- */

.overview-hero {
    margin-bottom: 10vh;
}

.overview-hero img,
.problem img,
.challenge img,
.solution img,
.process-header img,
.ca img,
.users img,
.storyboard img,
.matrix img,
.info-archit img,
.wireframe img,
.style-guide img,
.prototype-header img,
.friction img,
.brand-id img,
.mood-board img,
.user-testing img,
.watch-safety img,
.takeaways-header img,
.key-takeaways img,
.client-values img,
.consumer-research img,
.colors img,
.sd-final img {
    width: 98.9vw;
}

.challenge {
    margin-top: 10vh;
}

.prototype-header {
    margin-bottom: 10vh;
}

.prototype {
    display: flex;
    flex-direction: row;
    margin-left: 25vw;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.favorites1 {
    margin-left: 26vw;
}

.phone-watch {
    margin-left: 16vw;
}

.prototype video {
    height: 100vh;
}

.prototype .watch {
    height: 50vh;
    padding-top: 25vh;
}

.caption {
    margin-left: 5vw;
    margin-top: 30vh;
}

#favorites1-cap {
    margin-right: 5vw;
}

.prototype h3 {
    font-size: 3vh;
    color: #383838;
    margin-bottom: 2vh;
}

.prototype p {
    color: #666;
    width: 20vw;
    line-height: 25px;
}

.favorites1 p {
    width: 15vw;
}

.car-info h3 {
    width: 15vw;
}

.car-info p {
    margin-bottom: 2vh;
}

.init-proto {
    display: flex;
    flex-direction: row;
}

.init-proto p {
    width: 25vw;
}

.init-proto video {
    height: 100vh;
}

#trails-text {
    width: 20vw;
}


/* Media Queries */

@media screen and (min-width: 2000px) {
    /* Navbar */
    nav {
        margin-top: 3vh;
        margin-left: auto;
        margin-right: auto;
        height: 8vh;
    }
    nav ul {
        width: 90vw;
        margin-left: 8vw;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    nav ul li {
        list-style: none;
        font-size: 1vw;
        color: #000;
        margin: 10px;
    }
    #nav-tag {
        width: 20vw;
        font-size: 1vw;
        margin-right: 40vw;
    }
    nav ul li h1 {
        display: flex;
        flex-direction: row;
        font-size: 1.7vw;
        color: #000;
        margin-left: 1vw;
        width: 7vw;
    }
    .row-fade {
        margin-top: 2vh;
    }
    footer {
        margin-left: 0.3vw;
    }
    .content {
        margin-top: 16vh;
    }
    .content {
        margin-top: 11vh;
    }
}

@media screen and (max-width: 1300px) {
    .content {
        margin-top: 13vh;
    }
}