@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
}


/* Home Page Styles */

body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    animation: fadeOnLoad ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOnLoad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 8vh;
}

nav ul {
    width: 90vw;
    margin-left: 6.5vw;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logo img {
    position: absolute;
    margin-top: 5px;
    width: 50px;
    margin-left: 3.7%;
}

nav ul li {
    list-style: none;
    color: #333;
    margin: 10px;
}

nav ul li h1 {
    display: flex;
    flex-direction: row;
    font-size: 26px;
    color: #333;
    margin-left: 10px;
    width: 115px;
    margin-right: 0;
}

#nav-tag {
    width: 100px;
    margin-top: 7px;
    margin-right: 65vw;
    margin-left: 0;
}

.nav-margin-top {
    margin-top: 17px;
}

.nav-margin-right {
    margin-right: 33px;
}

nav li a {
    font-size: 14px;
    color: #333;
    transition: 0.1s;
}

nav li a:hover {
    color: #d4d4d4;
    transition: 0.1s;
}

a {
    text-decoration: none;
    color: #333;
}

#logo {
    font-size: 35px;
    color: #333;
    font-weight: 700;
}

#logo-caption {
    color: #a7a7a7;
}

.row {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.row:nth-child(1) {
    margin-left: 3%;
}

.link-fig {
    margin: 1%;
    width: 45vw;
    height: auto;
    margin-bottom: 1%;
}

.link-fig-margin {
    margin-left: 4%;
}

.zoom {
    width: 45vw;
    height: auto;
    overflow: hidden;
    margin: 0;
}

.zoom img {
    width: 100%;
}

.wrapper {
    position: relative;
}

.wrapper img {
    transition: 0.3s;
}

.wrapper:hover img {
    opacity: 0.2;
    transition: 0.3s;
}

.text-overlay {
    width: 45.5vw;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.3s;
}

.content {
    margin-top: 20vh;
}

.text-overlay h1 {
    text-align: center;
    font-size: 30px;
}

.text-overlay:hover {
    opacity: 1;
    z-index: 2;
    transition: 0.3s;
}

#short-h1 {
    font-size: 30px;
}

.ccf-short-h1 {
    font-size: 30px;
    width: 30vw;
    margin-left: 8vw;
}

.text-link {
    width: 200px;
}

.text-link:hover {
    color: #d4d4d4;
    transition: 0.1s;
}

#smithdesign-p {
    padding-bottom: 30px;
}

#sd-source {
    font-size: 10px;
}

main {
    margin-top: 20px;
    padding-bottom: 30px;
}

footer {
    height: 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.social-text {
    margin-bottom: 50px;
}

.social-text a:hover {
    color: #d4d4d4;
}

.social-text a {
    margin-right: 25px;
    text-align: center;
}

#linkedin {
    margin-left: 25px;
}

.copyright {
    font-size: 12px;
}


/* Hackable Page Styles */

.hackable-parallax,
.ccf-parallax,
.sd-parallax,
.vr-parallax {
    height: 60vh;
    width: 100vw;
    background-image: url("images/hackable-parallax.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.ccf-parallax {
    background-image: url("images/ccf-parallax.png");
}

.sd-parallax {
    background-image: url("images/sd-parallax.png");
}

.vr-parallax {
    background-image: url("images/vr-parallax.png");
}

.arrow-down h1 {
    position: relative;
    font-weight: normal;
    font-size: 35px;
    color: #c0c0c0;
    text-align: center;
    margin-top: 10px;
    animation-name: arrowAnimation;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}

@keyframes arrowAnimation {
    0% {
        top: 0px;
    }
    50% {
        top: 25px;
    }
    100% {
        top: 0px;
    }
}

.hackable-header h1,
.ccf-header h1,
.sd-header h1,
.vr-header h1 {
    width: 500px;
    font-size: 50px;
    color: #333;
    margin-left: 280px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.ccf-header h1 {
    width: 650px;
}

.hackable-header p,
.ccf-header p,
.sd-header p,
.vr-header p {
    width: 330px;
    color: #aaaaaa;
    margin-left: 280px;
    margin-bottom: 120px;
}

.ccf-header p {
    width: 400px;
}

.overview h2,
.experiment-design h2,
.results h2,
.user-research h2,
.user-research h2,
.ui-design h2,
.mockups h2,
.key-takeaways h2,
.sd-work h2,
.ccf-images h2,
.experiment-design h2 {
    color: #333;
    margin-bottom: 20px;
    margin-left: 280px;
}

.sd-work h2 {
    margin-bottom: 50px;
}

.overview,
.experiment-design,
.results,
.user-research,
.ui-design,
.mockups,
.experiment-design {
    margin-bottom: 130px;
}

.overview p,
.experiment-design p,
.results p,
.user-research p,
.ui-design p {
    width: 980px;
    margin-left: 280px;
    margin-bottom: 40px;
    color: #656565;
    line-height: 23px;
}

#duration,
#tools,
#role {
    margin-bottom: 15px;
}

cite a {
    color: blue;
}

cite a:hover {
    text-decoration: underline;
}

.mockups img {
    width: 700px;
    margin-left: 280px;
}

.key-takeaways ul {
    margin-left: 280px;
    color: #656565;
}

.key-takeaways {
    margin-bottom: 100px;
}

.key-takeaways li {
    margin-bottom: 10px;
}


/* Figure Styles*/

figure {
    width: 650px;
    margin-bottom: 60px;
    margin-left: 40px;
}

.user-research figure,
.figure-group figure {
    margin-bottom: 10px;
}

#image-2 {
    margin-left: 50px;
}

.figure-group {
    width: 300px;
}

.figure-group img {
    width: 440px;
}

.figure-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.user-research img,
.experiment-design img {
    margin-bottom: 20px;
    margin-left: 243px;
}

figcaption {
    color: #656565;
    margin-left: 243px;
}

#participants figcaption {
    margin-left: 60px;
}

.figure-group figcaption {
    text-align: center;
}

.figcaption2 {
    margin-left: 0;
}

#citation {
    font-size: 10px;
}

cite a,
p a {
    color: blue;
}

cite a:hover,
p a:hover {
    text-decoration: underline;
}

.explore-section {
    margin-bottom: 120px;
}

.mockups img {
    display: inline-block;
    margin-left: 285px;
    margin-bottom: 20px;
}

#explore-prototype {
    height: 530px;
    width: auto;
    display: inline-block;
    margin-top: 20px;
    margin-left: 13px;
}

#widgets-prototype {
    height: 530px;
    width: auto;
    display: inline-block;
    margin-left: 285px;
    margin-bottom: 20px;
}

#widgets-wireframe {
    display: inline-block;
    margin-top: 20px;
    margin-left: 13px;
}

#hackable-list-item,
#vr-list-item {
    width: 640px;
}


/* Smith Design Page Styles */

.sd-images {
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

.sd-row {
    display: flex;
    flex-direction: row;
}

.sd-row img {
    width: 450px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.sd-work {
    margin-bottom: 100px;
}


/* CCF Styles */

.ccf-images h2 {
    margin-bottom: 60px;
}

#ccf-original {
    margin-left: 280px;
}

.ccf-images img {
    display: block;
    height: 471px;
    width: auto;
    margin-left: 280px;
    margin-bottom: 80px;
}

#kt-short {
    width: 600px;
}


/* Media Query */

@media screen and (min-width: 2000px) {
    .hackable-parallax,
    .ccf-parallax,
    .sd-parallax,
    .vr-parallax {
        height: 60vh;
        width: auto;
        background-image: url("images/hackable-responsive.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    .ccf-parallax {
        background-image: url("images/ccf-responsive.png");
    }
    .sd-parallax {
        background-image: url("images/sd-repsonsive.png");
    }
    .vr-parallax {
        background-image: url("images/vr-responsive.png");
    }
    .arrow-down {
        display: none;
    }
    .hackable-header,
    .ccf-header,
    .vr-header,
    .sd-header,
    .project-main {
        margin-left: 20vw;
    }
}